node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# trie_worker_rust
static/trie_worker_rust


# python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.py.class
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/*.py[cod]
**/*$py.class

# misc
log.txt
prefix_range_precomp.json
